@font-face {
  font-family: 'Horizon';
  src: url('fonts/Horizon-Font/Horizon-Font/Horizon.otf') format('opentype'),
       url('fonts/Horizon-Font/Horizon-Font/Horizon.woff2') format('woff2'),
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 80px;
}
header img {
    max-width: 300px;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;
}
nav ul a {
    text-decoration: none;
    color: white;
}
.inicio {
    background-size:   cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}
.inicio-fondo {
    background-image: url(./img/iss070e034731~orig.jpg);
    background-size: COVER;
}
.inicio-contenido {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inicio-contenido h1 {
    font-family: Horizon;
}
#inicio-contenido-h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(242, 77, 242);
}
.inicio-contenido-div {
    background-color: rgba(0, 0, 0, 0.3);
        padding: 0 10px;
    border-radius: 20px;
}
.inicio-articulo {
    padding-bottom: 20px;
}
.inicio-articulo-h2 {
    font-family: "Rubik", sans-serif;
    margin-top: 70%;
}
.inicio-contenido img {
    max-width: 800px;

}
.contenedor-temas {
    width: 100%;
    color: whitesmoke;
    border: 1px solid white;
}
.inicio-articulo-temas {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.inicio-articulo-temas-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio-articulo-temas p {
    max-width: 300px;
    margin-bottom: 1.5rem;
}

.inicio-articulo-temas h1 {
    margin-bottom: 2rem;
    font-family: "Horizon", sans-serif;
    font-size: 340%;
    flex-wrap: wrap;
}
.inicio-articulo-temas img {
    max-width: 800px;
}
.inicio-articulo-temas-flex {
    display: flex;
    justify-content: space-between;
}
